<div class="content">
    <h1>Hello!</h1>
    <img id="personal-photo" src="../../assets/personal-photo-2x.png">
    <p>
        Welcome at my site. My name is Wessel Koorn lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis leo dolor, a volutpat massa eleifend non. Integer imperdiet luctus turpis ac hendrerit. Aenean ultricies vitae justo ut volutpat. Integer ut pharetra mauris, sed porttitor augue. Suspendisse ultrices fermentum auctor. Aliquam erat volutpat. Fusce in magna quis justo consequat condimentum vel vitae nulla. Donec eros risus, facilisis quis ex laoreet, sodales ullamcorper ipsum.
    </p>
    <p>
        Quisque gravida tempor lacus, quis scelerisque orci consectetur id. In eu elit fringilla, ultrices metus a, porttitor leo. Mauris turpis felis, pulvinar nec porta in, hendrerit vel arcu. Nullam ac pretium ipsum. Mauris lobortis vel metus non dignissim. Nulla sed vestibulum est. Quisque auctor metus ut leo rhoncus elementum sit amet eget est. Praesent blandit eget nisi nec gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam eros lorem, pharetra quis velit sed, bibendum tempor eros. Nulla eget dictum libero.
    </p>
</div>