<div class="content">
    <div class="intro">
        <h1>Hello!</h1>
        <img id="personal-photo" src="{{personalPhotoUrl}}">
        <p *ngFor="let paragraph of paragraphs">
            {{paragraph}}
        </p>
    </div>
    <div class="personal-info">
        <h2>Personal info</h2>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <strong>Address</strong>
            </div>
            <div class="col-sm-6">
                <p>{{personalInfo.address}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <strong>Phone number</strong>
            </div>
            <div class="col-sm-6">
                <p>{{personalInfo.phoneNumber}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <strong>Email</strong>
            </div>
            <div class="col-sm-6">
                <p>{{personalInfo.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <strong>Nationality</strong>
            </div>
            <div class="col-sm-6">
                <p>{{personalInfo.nationality}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <strong>Date of birth</strong>
            </div>
            <div class="col-sm-6">
                <p>{{personalInfo.dateOfBirth}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <strong>Gender</strong>
            </div>
            <div class="col-sm-6">
                <p>{{personalInfo.gender}}</p>
            </div>
        </div>
    </div>
</div>