h1 {
    font-size: 5em;
    margin-bottom: 2.5rem;
}

#personal-photo {
    float: right;
    width: 15em;
    height: auto;
    margin-left: 2em;
    margin-bottom: 1em;
    border-radius: 50%;
}

.personal-info {
    margin-top: 5%;
}

/* Small devices (tablets, 768px and less) */
@media (max-width: 768px) { 
    #personal-photo {
        margin: 0;
        width: 100%;
        padding: 15%;
    }
 }