.project {
    margin-top: 5%;
}

.project .carousel .image-container img {
    width: auto;
    height: auto;
    max-height: 390px;
    max-width: 100%;
    margin: auto;
}

.project .carousel .image-container {
    width: auto;
    height: 400px;
    max-height: 400px;
    max-width: 100%;
    margin: auto;
}

.image-description {
    width: 100%;
    position: absolute;
    margin-top: 0.5em;
    font-weight: 300;
}