<div class="content">
    <p>{{ description }}</p>

    <div class="project" *ngFor="let project of projects">
        <h2>{{project.title}}</h2>
        <div class="row">
            <div [ngClass]="(project.images.length > 0) ? 'col-md-6' : 'col-md-12'">
                <p *ngFor="let paragraph of project.description">
                    {{paragraph}}
                </p>
                <h6>Key features</h6>
                <ul>
                    <li *ngFor="let feature of project.features">
                        {{feature}}
                    </li>
                </ul>
            </div>
            <div *ngIf="project.images.length > 0" class="col-md-6">
                <!-- Carousel -->
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let image of project.images">
                        <div class="image-container">
                            <img src="../assets/content/{{image.url}}" alt={{image.description}}>

                            <div class="image-description">
                                <p class="text-muted">{{image.description}}</p>
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>