@font-face {
    font-family: Dense-Regular;
    src: url('../assets/Dense-Regular.otf');
}

#banner {
  height: 46rem;
  background-image: url('../assets/palm-trees.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 5px;
}

#banner img {
    height: 10em;
    max-width: 90%;
    position: absolute;
    top: 2em;
    left: 5%;
}

#banner h1 {
    font-size: 3.75rem;
    font-family: 'Dense-Regular', sans-serif;
    font-weight: 300;
    color: white;
    background: rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 5px; 
    display: none;
}

#banner .active-banner-title {
    display: inherit;
}

nav {
    padding: 1em;
}

footer {
    text-align: center;
    background-color: #f7f7f7;
    height: 100px;
    margin-top: 5%;
  }
  
  footer p {
    display: inline-block;
    margin: 0;
    padding: 10px;
    vertical-align: middle;
  }

  footer img {
      width: 100%;
      height: 100%;
      vertical-align: initial;
  }
  
  footer .mailButton {
    /* Vertical center */
    display: inline-block;
    vertical-align: middle;

    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #000;
    color: #FFF;
    padding: 8px;
  }

  footer .container {
    padding-top: 28px;
    background-color: #f7f7f7;
  }

@media (max-width: 576px) {
    .nav-link {
        padding: .5em .75em;
    }
}