/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.content {
    margin: 7.5% auto;
    width: 75%;
}
.project .carousel .carousel-inner {
    overflow: visible;
}